stages:
  - mavenbuild
  - maventest


maven-build:
  stage: mavenbuild
  tags:
    - Carson_Runner
  script:
    - cd Backend/Application
    - mvn package
  only:
    refs:
      - Carson_CICD
    changes:
      - Backend/**/*

maven-test:
  stage: maventest
  tags:
    - Carson_Runner
  script:
    - cd Backend/Application
    - mvn test
  only:
    refs:
      - preet_CICD
    changes:
      - Backend/**/*
