stages:
  - androidbuild
  - androidtest

android-build:
  image: afirefly/android-ci:java17
  stage: androidbuild
  tags:
    - William_Runner
  before_script:
    - export GRADLE_USER_HOME=`pwd`/.gradle
    - chmod +x ./Frontend/CCFrontend/gradlew
    - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64   # set JAVA_HOME for Java 17
    - export PATH=$JAVA_HOME/bin:$PATH
    - java -version
    - javac -version
  script:
    - cd Frontend/CCFrontend
    - ./gradlew build
  only:
    refs:
      - William_CICD
    changes:
      - Frontend/**/*


android-test:
  image: afirefly/android-ci:java17
  stage: androidtest
  tags:
    - William_Runner
  before_script:
    - chmod +x ./Frontend/CCFrontend/gradlew
    - export JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
    - export PATH=$JAVA_HOME/bin:$PATH
    - java -version
    - javac -version
  script:
    - cd Frontend/CCFrontend
    - ./gradlew test
  only:
    refs:
      - William_CICD
    changes:
      - Frontend/**/*