stages:
  - mavenbuild
  - maventest
  
maven-build:            
  stage: mavenbuild
  tags:
    - preet_runner      # <-- change to your runner's tag
  script:
    - cd Backend/Application        # change 'Backend' to to where you have the pom.xml (do not add / in the beginning)
    - export JAVA_HOME=/usr/lib/jvm/jdk-21.0.8   # path to JDK 21 on the runner
    - export PATH=$JAVA_HOME/bin:$PATH
    - java -version
    - javac -version

    - mvn package
  only:
    refs:
      - preet_CICD
    changes:
      - Backend/**/*


maven-test:             
  stage: maventest
  tags:
    - preet_runner     # <-- change to your runner's tag
  script:
    - cd Backend/Application       # change 'Backend' to to where you have the pom.xml (do not add / in the beginning)
    - export JAVA_HOME=/usr/lib/jvm/jdk-21.0.8   # path to JDK 21 on the runner
    - export PATH=$JAVA_HOME/bin:$PATH
    - mvn test
  only:
    refs:
      - preet_CICD
    changes:
      - Backend/**/*
